/* #5C0D11 color
 * #E3E0D1 background
 */
body{
    font-size: 8pt;
    font-family: arial,helvetica,sans-serif;
    color:#5C0D11;
    background:#E3E0D1;
    padding: 2px;
    margin: 0;
    text-align: center;
}
.container{
    background: #E3E0D1;
    width:100%;
    height:100%;
}
a:hover{
    
    color: #8F4701;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #5C0D11;
}
.navigation-bar{
    margin:auto;
    padding: 4px 10px 0;
    font-size: 10pt;
    font-weight: bold;
    color:#AAAAAA;
    white-space: nowrap;
    overflow: hidden;
    min-width: 630px;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    line-height: 19px;
    min-height: 19px;
    max-height: 19px;
}
.navigation-bar div{
    background-image: url(../resource/mr.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 14px 0 7px;

}
.main-area{
    background:#EDEBDF;
    border: 1px solid#5C0D12;
    text-align: justify;
    min-width: 740px;
    max-width: 1200px;
    margin: 10px auto 10px auto;
    padding: 5px;
    position: relative;
    border-radius: 9px;
}
.top-panel{
    margin: auto;
}
.top-panel-description{
    font-size: 10pt;
    font-weight: bold;
    margin: 2px auto;
    text-align: center;
    padding-bottom: 6px;
}
.search-box{
    margin: auto;
    width: 598px;
    border-collapse: collapse;
    margin: 0px auto 8px auto;
    padding: 5px;
    border: 2px ridge#5C0D12;
    text-align: center;
}
input, select, option, optgroup, textarea {
    color: #5C0D12;
    background-color: #EDEADA;
}
input[type="text"], input[type="password"], select {
    line-height: 17px;
}
input[type="text"], input[type="password"], select, textarea {
    border: 1px solid 
    #B5A4A4;
    margin: 3px 1px 0;
    padding: 1px 3px 3px;
    border-radius: 3px;
}
input[type="button"], input[type="submit"] {
    min-height: 26px;
    line-height: 20px;
    padding: 1px 5px 2px;
    margin: 0 2px;
    border: 2px solid #B5A4A4;
    border-radius: 3px;
    font-size: 9pt;
    width: 100px;
    cursor: pointer;
}